/src/

public/

node_modules/

doc/

.gitignore

jsdoc.json

.eslintrc.json

.eslintignore

.prettierrc.json

.prettierignore

tsconfig.json

tsconfig.test.json

__tests__

pnpm-lock.yaml

.vscode

rollup.config.js